body, html{
    height: 100%;
}
#map {
    /* height: auto; */
    width: 100%;
}

#title {
    height: 10%;
    text-align: center;

    background: -webkit-radial-gradient(rgb(106, 255, 254), rgb(67, 91, 176));
    background: radial-gradient(rgb(106, 255, 254), rgb(67, 91, 176));
    
}

#myLayout{
    display: flex;
    justify-content: flex-start;
    height: 90%;
}

#layoutInfo {
    width: 30%;
    border-left: 3px solid black;    

}