body, html{
    height: 100%;
    width: 100%;
    
}
#map {
    height: 94%;
    width: 100%;
    position: absolute;
    z-index: 1;
}


#mapLayout{
    height: 94%;
    width: 100%;  
}

#layoutInfo {
    background: white;
    height: 100%;
    width: 30%;
    border-left: 3px solid black; 
    border-bottom: 3px solid black;
    border-top: 3px solid black;   
    position: relative;
    float: right;
    margin: 0%;
    z-index: 2;
}

#layoutInfo > h2{
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 4px;
}

#iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#iconos span > img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0;
}

#iconos span{
    text-align: center;
    cursor: pointer;
}

#iconos span p:hover{
    font-size: 18px;
}

.activ p {
    text-decoration: underline;
}

hr{
    height: 5px;
    margin-top: 0px;
}

#infoContainer {
    text-align: left;
    width: auto;
    overflow-y: scroll;
    height: 24rem;
}

.border{
    border-radius: 100px;
    border-image: 0px;
    background: white;
}
.container{
    text-align: center;
}

.table{
    text-align: center;
}

h3{
    text-align: center;
}

#info > h3{
    font-family: "Times New Roman", Times, serif;
    color: brown;
}

#info{
    font-family: Georgia, 'Times New Roman', serif;
    color: black;
}

#languages{
    float: right;
    z-index: 2;
    position: relative;
}

#languages img {
    height: 20px;
    width: 20px;
    cursor: pointer;

}

#infoContainer > h1{
    text-align: center;
    color: blueviolet;
    font-family: sans-serif;
}

#infoContainer > h2 {
    text-align: center;
    color: blueviolet;
    font-family: sans-serif;
}