body, html{
    height: 100%;
    width: 100%;
}
#map {
    height: 94%;
    width: 100%;
    position: absolute;
    z-index: 1;
}


#mapLayout{
    height: 94%;
    width: 100%;  
}

#layoutInfo {
    background: white;
    height: 100%;
    width: 30%;
    border-left: 3px solid black; 
    border-bottom: 3px solid black;
    border-top: 3px solid black;   
    position: relative;
    float: right;
    margin: 0%;
    z-index: 2;
}

#layoutInfo > h2{
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 4px;
}

#iconos{
    display: flex;
    flex-direction: row;

}
#iconos span > img {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
    margin-bottom: 0;
}

#iconos span{
    text-align: center;
    cursor: pointer;
}


hr{
    height: 5px;
    margin-top: 0px;
}

#infoContainer {
    margin: 10px;
    border: 3px solid black;
    height: 30%;
}